---
import Index from "../layouts/Index.astro";
---

<Index title={"The Weakly Newsletter"} lang="en">
  <p align="justify">
    What is the Weakly Newsletter? Some kind of cryptid, an association that, despite the Ides of March it undergoes
    every year, always manages to emerge from oblivion for a month or two.
  </p>
  <p>You will never know if the edition you are reading is the last. So, enjoy it.</p>
  <p>
    Of course, the letter is open to all Télécom students. So if you have articles, memes, fiction, Javascript games...
    Basically, if you have something on your mind, we'll publish it for you! No pressure, it doesn't have to be perfect
    <br />Send it via <a href="https://www.facebook.com/profile.php?id=100091511889368">Facebook message</a> or email to
    <a href="mailto:lettre.hebdomadaire.telecom@gmail.com">lettre.hebdomadaire.telecom@gmail.com</a>
  </p>
</Index>
