<p>
    Bien sûr, la lettre est ouverte à tous les télécommiens. Alors si vous avez des articles, des memes, des fictions,
    des jeux en javascript... Bref, si vous avez un truc qui vous passe par la tête, on le publiera pour vous ! Pas de
    pression, ça a pas besoin d'être parfait ! (et on peut le traduire en anglais ou français pour vous) Envoyez ça par
    <a href="https://www.facebook.com/profile.php?id=100091511889368">mp facebook</a> ou par mail à
    <a href="mailto:lettre.hebdomadaire.telecom@gmail.com">lettre.hebdomadaire.telecom@gmail.com</a>.
    Nous avons aussi une nouvelle plateforme pour déposer vos écrits : <a href="https://partage.imt.fr/index.php/s/KnEQKityPBLdbo5">partage.imt</a>.
    Tutoriel sur notre <a href="https://discord.gg/MMJJwSMr"> discord </a>!
</p>
