<p class="footer">
    Of course, the letter is open to all Télécom students. So if you have articles, memes, fiction, Javascript games...
    Basically, if you have something on your mind, we'll publish it for you! No pressure, it doesn't have to be perfect
    <br />Send it via <a href="https://www.facebook.com/profile.php?id=100091511889368">Facebook message</a> or email to
    <a href="mailto:lettre.hebdomadaire.telecom@gmail.com">lettre.hebdomadaire.telecom@gmail.com</a>
</p>

<style>
    .footer{
        display: inline-block;
    }
</style>
