---
const { img = "../taquin.png" } = Astro.props;
import "../styles/style_taquin.css";
---


<div id="taquin">
    <span id="link" style="display: none;">{img}</span>
    <div id="floating">
        <div class="letter l1">B</div>
        <div class="letter l2">R</div>
        <div class="letter l3">A</div>
        <div class="letter l4">V</div>
        <div class="letter l5">O</div>
        <div class="letter l6">!</div>
    </div>
    <div class="jeu_taquin">
        <canvas id="canvas" width="500" height="500"></canvas>
        <div id="menu_taquin">
            <div id="moves">Nombre de coups : 0</div><br />
            <button id="newGame" class="menu_button">Nouvelle partie</button>
            <br />
            <button id="help" class="menu_button">Je suis nul.le &#128557;</button>
            <button id="help-2" style="display: none;" class="menu_button">
                Vraiment aidez moi je suis éclaté.e au sol &#128534;
            </button>
        </div>
    </div>
</div>

<script is:inline src="/taquin.js"></script>
<script>
    init();
</script>