body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
	color: #000000;
	margin: 0px;
	padding: 10px;
	background-color:#F3F3F3;
	text-align: justify;
}

.maligne
{
margin-bottom:0px;
border-bottom: solid 1px #F3F3F3;
width:100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ppal {
	width: 800px;
	margin-left: auto;
	padding-top: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	}
	
td {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
	color: #000000;
}

a {
	color: #9B0000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

A.menulink
{
	display: block;
	width: 150px;
	text-align: right;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color: #9B0000;
	border: solid 1px #ffffff;
}

A.menulink:hover
{
	/*border: solid 1px #ff0000;	*/
	/*background-color:#F9F9F9;*/
	text-decoration: underline;
}

#container {
	border: 1px solid gray;
	margin: 0px;
	padding: 0px;
}

#banner {
	margin: 0px;
	padding: 10px;
	font-size: 24px;
	font-family: Georgia, "Times New Roman", Times, serif;
	/*font-weight: bold;*/
}

#banner2 {
	margin: 0px;
	padding: 20px;
}

#content {
	padding: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
	color: #000000;
}

#menu {
	float: left;
	width: 177px;
	margin: 0;
	padding: 10px;
}

#footer {
	clear: both;
	padding: 5px;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 7pt;
	color: #808080;
}
